body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr 300px;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
}

header {
    grid-area: header;
    background-color: black;
    color: white;
    text-align: left;
    padding: 15px;
}

nav {
    grid-area: nav;
    background-color: black;
    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    grid-area: main;
    background-color: lightgray;
    padding: 20px;
}

aside {
    grid-area: aside;
    background-color: white;
    padding: 20px;
}

footer {
    grid-area: footer;
    background-color: black;
    color: white;
    text-align: left;
    padding: 15px;
}