* {
    text-align: center;
    margin: 10px;
}
header {
    display: block;
    background-color: #22aedd;
    color: #222225;
}

h2, footer {
    background-color: #22aedd;
    color: #222225;
}

nav {
    display: flex;
    background-color: #181a1b;
    color: #b1b1b9;
}

a {
    text-decoration: none;
    color: #b1b1b9;
}

a :hover {
    background-color: #fff;
    color: #222225;
}

main {
    width: 500px;
    align-items: center;
    text-align: left;
    margin: auto;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}